@model easySettle.ViewModel.CityViewModel

@{
    ViewData["Title"] = "Details";
}

<div class="container">

    <h1>Details</h1>

    <div>
        <hr />
        <div class="container">
            <div class="row">
                <div class="col-sm-6">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.CityName)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.CityName)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.IsDeleted)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.IsDeleted)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.Enable)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.Enable)
                        </dd>
                    </dl>
                </div>

                <div class="col-sm-6">
                    <dl class="row">
                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.UpdateBy)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.UpdateBy)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.UpdatedDate)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.UpdatedDate)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.DeletedDate)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.DeletedDate)
                        </dd>

                        <dt class="col-sm-4">
                            @Html.DisplayNameFor(model => model.CreatedDate)
                        </dt>
                        <dd class="col-sm-8">
                            @Html.DisplayFor(model => model.CreatedDate)
                        </dd>
                    </dl>
                </div>
            </div>
        </div>
    </div>
</div>