@model EasySettle.Models.Lease

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Lease</h4>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.DepositPaid)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.DepositPaid)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentStart)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentStart)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.RentFinish)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.RentFinish)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Property)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Property.PropertyID)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Client)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Client.ClientID)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.LeaseID">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
