@model IEnumerable<EasySettle.Models.Lease>

@{
    ViewData["Title"] = "Index";
}

<h1>Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.DepositPaid)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentStart)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.RentFinish)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Property)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Client)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            <td>
                @Html.DisplayFor(modelItem => item.DepositPaid)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentStart)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.RentFinish)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Property.PropertyID)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Client.ClientID)
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.LeaseID">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.LeaseID">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.LeaseID">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
