@model EasySettle.Models.ViewModels.PropertyAndOwnerViewModel


@{
    ViewData["Title"] = "Post Your Property";
}

<div class="container">
    <form id="propertyForm" asp-action="PostYourProperty" asp-controller="Manage">
    <div class="row">
        <!-- Property Form -->
        <div class="col-md-6">
            <h3 class="display-6 text-warning">Property Info</h3>
            
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- Property form fields -->
                <div class="form-group">
                    <label asp-for="@Model.Property.PropertyID" class="control-label"></label>
                    <input asp-for="@Model.Property.PropertyID" class="form-control readonly-input" readonly/>
                    <span asp-validation-for="@Model.Property.PropertyID" class="text-danger"></span>
                </div>     
                <div class="form-group">
                    <label asp-for="@Model.Property.IsAudited" class="control-label">Is Audited</label>
                    <input type="text" asp-for="@Model.Property.IsAudited" class="form-control readonly-input" readonly value="False" />
                    <span asp-validation-for="@Model.Property.IsAudited" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Property.Street" class="control-label"></label>
                    <input asp-for="@Model.Property.Street" class="form-control" />
                    <span asp-validation-for="@Model.Property.Street" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Property.City" class="control-label"></label>
                    <select asp-for="@Model.Property.City" asp-items="@Html.GetEnumSelectList<CityEnum>()" class="form-control"></select>
                    <span asp-validation-for="@Model.Property.City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Property.ZipCode" class="control-label"></label>
                    <input asp-for="@Model.Property.ZipCode" class="form-control" />
                    <span asp-validation-for="@Model.Property.ZipCode" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Property.Type" class="control-label"></label>
                    <select asp-for="@Model.Property.Type" class="form-control">
                        @foreach (var type in Enum.GetValues(typeof(TypeEnum)))
                        {
                            <option value="@type">@type</option>
                        }
                    </select>
                    <span asp-validation-for="@Model.Property.Type" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Property.Rooms" class="control-label"></label>
                    <input asp-for="@Model.Property.Rooms" class="form-control" />
                    <span asp-validation-for="@Model.Property.Rooms" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Property.BathRooms" class="control-label"></label>
                    <input asp-for="@Model.Property.BathRooms" class="form-control" />
                    <span asp-validation-for="@Model.Property.BathRooms" class="text-danger"></span>
                </div>            
                <div class="form-group">
                    <label asp-for="@Model.Property.Rent" class="control-label"></label>
                    <input asp-for="@Model.Property.Rent" class="form-control" />
                    <span asp-validation-for="@Model.Property.Rent" class="text-danger"></span>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="@Model.Property.Parking" /> @Html.DisplayNameFor(model => model.Property.Parking)
                    </label>
                </div>
                <div class="form-group form-check">
                    <label class="form-check-label">
                        <input class="form-check-input" asp-for="@Model.Property.Pets" /> @Html.DisplayNameFor(model => model.Property.Pets)
                    </label>
                </div> 
        </div>
        
        <!-- Owner Form -->
        <div class="col-md-6">
            <h3 class="display-6 text-warning">Owner Contact Info</h3>
                <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                <!-- Owner form fields -->
                <div class="form-group">
                    <label asp-for="@Model.Owner.OwnerID" class="control-label"></label>
                    <input asp-for="@Model.Owner.OwnerID" class="form-control readonly-input" readonly/>
                    <span asp-validation-for="@Model.Owner.OwnerID" class="text-danger"></span>
                </div>                 
                <div class="form-group">
                    <label asp-for="@Model.Owner.Email" class="control-label"></label>
                    <input asp-for="@Model.Owner.Email" class="form-control readonly-input" readonly/>
                    <span asp-validation-for="@Model.Owner.Email" class="text-danger"></span>
                </div>                
                <div class="form-group">
                    <label asp-for="@Model.Owner.FirstName" class="control-label"></label>
                    <input asp-for="@Model.Owner.FirstName" class="form-control" />
                    <span asp-validation-for="@Model.Owner.FirstName" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Owner.LastName" class="control-label"></label>
                    <input asp-for="@Model.Owner.LastName" class="form-control" />
                    <span asp-validation-for="@Model.Owner.LastName" class="text-danger"></span>
                </div>                        
                <div class="form-group">
                    <label asp-for="@Model.Owner.telNo" class="control-label"></label>
                    <input asp-for="@Model.Owner.telNo" class="form-control" />
                    <span asp-validation-for="@Model.Owner.telNo" class="text-danger"></span>
                </div> 
                <div class="form-group">
                    <label asp-for="@Model.Owner.Street" class="control-label"></label>
                    <input asp-for="@Model.Owner.Street" class="form-control" />
                    <span asp-validation-for="@Model.Owner.Street" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Owner.City" class="control-label"></label>
                    <select asp-for="@Model.Owner.City" asp-items="@Html.GetEnumSelectList<CityEnum>()" class="form-control"></select>
                    <span asp-validation-for="@Model.Owner.City" class="text-danger"></span>
                </div>
                <div class="form-group">
                    <label asp-for="@Model.Owner.ZipCode" class="control-label"></label>
                    <input asp-for="@Model.Owner.ZipCode" class="form-control" />
                    <span asp-validation-for="@Model.Owner.ZipCode" class="text-danger"></span>
                </div>                               
        </div> 
    </div>
        <!-- Submit Button -->
    <div class="row">
        <div class="col-12 text-center mt-3">
            <button type="submit" class="btn btn-warning">Next Step</button>
        </div>
    </div>
    </form>
    

</div>

<!-- Modal -->
<div class="modal fade" id="submissionModal" data-bs-backdrop="static" data-bs-keyboard="false" tabindex="-1" aria-labelledby="submissionModalLabel" aria-hidden="true">
    <div class="modal-dialog modal-dialog-centered">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="submissionModalLabel">Submission Status</h5>
                <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
                Your property is waiting to be audited.
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Close</button>
            </div>
        </div>
    </div>
</div>
<style>
    .readonly-input {
        background-color: #ababab; /* Bootstrap's light gray used for disabled inputs */
    }
</style>

